QUESTION 1
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

In [ ]:
df=pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.892423  0.027865  0.911700  0.400636
1  0.205318  0.501903  0.547365  0.654495
2  0.004345  0.199125  0.696938  0.994705
3  0.796691  0.038388  0.318789  0.823351

QUESTION 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.rename(columns={0:'Random Value 1',1:'Random Value 2',2:'Random Value 3',3:'Random Value 4'},inplace=True)
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.892423        0.027865        0.911700        0.400636
1        0.205318        0.501903        0.547365        0.654495
2        0.004345        0.199125        0.696938        0.994705
3        0.796691        0.038388        0.318789        0.823351

QUESTION 3  Find the descriptive statistics of the 'df' dataframe

In [ ]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.474694        0.191820        0.618698        0.718297
std          0.436643        0.221079        0.249670        0.253257
min          0.004345        0.027865        0.318789        0.400636
25%          0.155075        0.035757        0.490221        0.591030
50%          0.501004        0.118756        0.622152        0.738923
75%          0.820624        0.274820        0.750628        0.866189
max          0.892423        0.501903        0.911700        0.994705

QUESTION 4 Check for the null values in 'df' and find the data type of the columns

In [ ]:
df.isnull().all()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [ ]:
df['Random Value 1'].dtype

dtype('float64')

In [ ]:
df['Random Value 2'].dtype

dtype('float64')

In [ ]:
df['Random Value 3'].dtype

dtype('float64')

In [ ]:
df['Random Value 4'].dtype

dtype('float64')

QUESTION 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
df.loc[0:,'Random Value 2']

0    0.027865
1    0.501903
2    0.199125
3    0.038388
Name: Random Value 2, dtype: float64

In [ ]:
df.iloc[0:,2]

0    0.911700
1    0.547365
2    0.696938
3    0.318789
Name: Random Value 3, dtype: float64